<div class="modal-header">
    <h4 class="modal-title pull-left">View Vehicle</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <form>
                <div class="form-group">
                    <div class="col-md-10">
                        <input class="form-control" id="plate" type="text" [value]="vehicle.plate | mask: plateMask" disabled>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="ibox-row-padding">
        <hr class="hr-line" />
    </div>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-danger" (click)="close()">Close</button>
        </div>
    </div>
</div>