.table-responsive {
    margin: 30px 0;
    display: block;
}

.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    min-width: 1000px;
}

.table-title {
    padding-bottom: 15px;
    background: #212529;
    color: #fff;
    padding: 16px 30px;
    min-width: 100%;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

.table-title .btn {
    color: #fff;
    float: right;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}

.list-inline {
    float:right;
}