<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Manage <b>Vehicles</b></h3>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-success" (click)="showNewVehicleModal()">
                            <span>Add New Vehicle</span>
                        </a>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <td>Plate</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vehicle of vehicles">
                        <td>{{ vehicle.id }}</td>
                        <td>{{ vehicle.plate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>